<ion-header>
  <ion-toolbar>
    <ion-title>Mostrador: Asignacion de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar animated (ionChange)='searchMember($event)' showCancelButton="always"></ion-searchbar>

  <ion-list>
      <ion-item button (click)="onMemberSelected(itm)" *ngFor="let itm of dataSearched" class="item ios in-list ion-focusable hydrated item-label">
        <ion-avatar slot="start" class="ios hydrated">
          <img src="{{basePhotosUrl + itm.photoUrl}}">
        </ion-avatar>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h3>{{itm.memberId}}</h3>
          <h2>{{itm.fullName}} • {{itm.email}}</h2>
          <p>
            <ion-chip color="secondary">{{itm.package}}</ion-chip>
            <ion-chip color="secondary">{{itm.period}}</ion-chip>
            <ion-chip color="secondary">{{itm.dueDate | date:'MMM dd, yyyy'}}</ion-chip>
          </p>
        </ion-label>
        <ion-item-options side="end">
          <ion-item-option>Remover</ion-item-option>
        </ion-item-options>
      </ion-item>
  </ion-list>


</ion-content>