<ion-grid *ngIf="data">
  <ion-row>
    <ion-col>
      <ion-label>
        <strong>NOTA:</strong> El usuario puede hacer cambios a su programacion hasta el numero de horas antes que espeficique como configuracion
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item transparent>
        <ion-label position="floating">Horas antes</ion-label>
        <ion-input [(ngModel)]="data.scheduleChangeHours" placeholder="Horas" type="number"></ion-input>
      </ion-item>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item transparent>
        <ion-label position="floating">Costo de Inscripcion</ion-label>
        <ion-input [(ngModel)]="data.registrationCost" placeholder="Costo de Inscripcion" type="number"></ion-input>
      </ion-item>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item transparent>
        <ion-label position="floating">Costo de Reinscripcion</ion-label>
        <ion-input [(ngModel)]="data.reregistrationCost" placeholder="Costo de Reinscripcion" type="number"></ion-input>
      </ion-item>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="onUpdateConfiguration()" expand="block" fill="outline">Grabar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

