<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>
        <strong>NOTA:</strong> El usuario puede hacer cambios a su programacion hasta el numero de horas antes que espeficique como configuracion
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item transparent>
        <ion-label position="floating">Horas antes</ion-label>
        <ion-input [(ngModel)]="data" placeholder="Horas" type="text"></ion-input>
      </ion-item>  
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="onUpdateConfiguration()" expand="block" fill="outline">Grabar</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

