<ion-list>

  <ion-list-header class="ios hydrated">
    Paquetes
  </ion-list-header>

  <ion-item button (click)="openModal(itm)" *ngFor="let itm of data" class="item ios in-list ion-focusable hydrated item-label">
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
      <h2>ID: {{itm.id}}</h2>
      <h3>{{itm.name}}</h3>
      <p>{{itm.periodicityDays}} dia(s)
        <ion-chip *ngIf="itm.isActive" color="success">Activo</ion-chip> 
        <ion-chip *ngIf="!itm.isActive" color="danger">No Activo</ion-chip>
      </p>
    </ion-label>
  </ion-item>


</ion-list>


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddNewPackage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>