<ion-header no-border>
    <ion-item class="login-header" transparent lines="none">
    <ion-back-button color="gym-primary" slot="start"></ion-back-button>
    <img src="../../assets/images/logo.png" alt="" class="logo-img">
  </ion-item>
</ion-header>



<ion-content padding>

  <div [innerHTML]="data">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/', 'payment', currentPkg.id, currentPkg.name, currentPkg.price]" expand="block" color="gym-primary">Comprar membresia</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
