.login-header {
    background-color: var(--theme-color);
}

.login-header {
    border-top: solid 5px var(--theme-red);
    position: relative;
    background-color: var(--theme-white);
    border-radius: 0em;
}

.login-header:after {
    content: '';
    position: absolute;
    bottom: solid;
    left: 15%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: var(--theme-white);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

ion-header {
    background-color: var(--theme-white);
}

// ion-item {
//     background-color: white;
// }

.logo-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

// [heading-colum-lr] {
//     display: flex;
//     -ms-flex-align: center;
//     align-items: center;
// }

[big-heading] {
    font-family: "Montserrat" !important;
    font-weight: bold;
    font-size: 30px !important;
    color: var(--theme-black);

}

[small-heading] {
    font-family: "Montserrat" !important;
    font-weight: bold;
    margin-left: auto;
    padding-right: 40px;
    font-size: 15px;
}

ion-label {
    color:#000;
    opacity: .8;
    font-size: 13px;
    display: block;
}

ion-content {
    --background: url('../../../assets/images/background.jpg');
}

[transparent] {
    --background: transparent;
}

ion-input {
    --color:#000;
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-start: 5px;
    font-size: 15px;
    text-indent: 1px;
    padding-left: 10px !important;
}

ion-item {
    --highlight-color-focused: transparent;
    --highlight-height: 0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --main-height: 65px;
    --padding-start: 0;
}

[linespace] {
    height: 30px;
}

ion-label {
    color:#000;
    opacity: .8;
    font-size: 13px;
    display: block;
}


ion-list {
    background-color: transparent;
}

.scheduleCard {
    background-color: transparent;
    width: 95%;
}

.scheduleCard ion-item {
    padding: 3px;
}

.scheduleCard ion-label {
    color: black;
}

h2 {
    color:black;
}

h3 {
    color:#fff;
}

.dateheader {
    color:#000;
    padding-bottom: 3px;
    border-bottom: solid 3px #bf0811;
}

ion-card {
    padding: 0;
}

ion-card-header {
    padding: 0;
}

/* side drawer */

.menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: #bf0811;

    box-shadow: 0px 1px 10px rgba(98, 140, 255, .5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top:20px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #fff;
        margin-right: 14px;
    }

    h2 {
        font-weight: 300;
        color: #fff;
    }

    p {
        font-size: 12px;
        color: #fff;
        font-weight: 200;
        letter-spacing: 0.4px;
    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    ion-button {
        text-transform: capitalize;
        font-weight: 400;
        --background: #bf0811;
        --border-radius: 7px;
        --box-shadow: none;
    }

    ion-icon {
        margin-right: 1px;
    }

    ion-list {
        padding: 5px;
    }

}

.menu-items {
    margin: 10px;
}

.close-session {
    margin-top:0;
}