<ion-header no-border>
  <!-- <div class="login-header ion-padding"> -->
    <ion-item transparent lines="none">
      <ion-menu-button color="gym-primary" autoHide="false" menu="gymmenu" slot="start"></ion-menu-button>
      <img src="../../assets/images/logo.png" alt="" class="logo-img">  
    </ion-item>
  <!-- </div> -->
</ion-header>

<ion-menu side="start" menuId="gymmenu" contentId="main">
  <ion-content>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="https://i.pinimg.com/originals/c3/45/05/c34505eb63edc65300a690f1ad903799.jpg" alt="">
      <ion-label>
        <h2>Mila Kunis</h2>
        <p>Socio: 12345</p>
        <p><ion-badge color="light">Administrador</ion-badge></p>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button (click)="onMyProfile()">
        <ion-icon name="create-outline"></ion-icon>
        Editar</ion-button>
    </div>

    <ion-list class="menu-items" lines="none">
      <ion-item *ngFor="let mnu of currentMenu" button transparent (click)="onSelectedOption(mnu.option)">
        <ion-icon slot="start" color="gym-primary" name="{{mnu.icon}}"></ion-icon>
        <ion-label color="gym-primary">{{mnu.displayName}}</ion-label>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>


<ion-content id="main">


  <ion-grid>
    <ion-row>
      <ion-col size-xs='12' size-sm='6'>
        <app-covidalert></app-covidalert>
      </ion-col>
      <ion-col size-xs='12' size-sm='6'>
        <app-schedulesummary [memberSchedule]="memberSchedule"></app-schedulesummary>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="memberSchedule[0].bookedHour">
      <ion-col>
        <ion-button (click)="showReservation()" expand="block" size="small">
          <ion-icon slot="start" name="alarm-outline"></ion-icon>
          Mi Reservacion: {{memberSchedule[0].bookedHour}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-segment scrollable="true" [(ngModel)]="currentDay">
    <ion-segment-button (click)="goto(idx)" *ngFor="let itm of memberSchedule; let idx = index" value="{{idx}}">
      <h2>{{itm.date.getDate()}}</h2>
      <ion-label>{{getDisplayMonth(itm.date.getMonth())}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides [options]="sliderConfig" #slides (ionSlideDidChange)="getIndex($event)">

    <ion-slide *ngFor="let d of memberSchedule; let sidx = index" data-id={{sidx}}>
        <ion-card class="scheduleCard">        
          <ion-card-header>
            <h3>{{d.date | date:'MMM dd, yyyy'}}</h3>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-list>
              <ion-item color="trasparent" *ngFor="let itm of d.selectableHours" lines="none" class="item ios in-list ion-focusable hydrated item-label">
                <ion-label slot="start" class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                  <h2>{{itm.range}}</h2>
                </ion-label>
                <ion-badge *ngIf="itm.capacity && itm.capacity > 74 && itm.capacity < 100" color="gym-primary">{{itm.capacity}} %</ion-badge>
                <!-- <ion-icon *ngIf="itm.capacity && itm.capacity > 74 && itm.capacity < 100" color="danger" name="warning-outline"></ion-icon> -->
                <ion-toggle [(ngModel)]="itm.booked" *ngIf="!itm.capacity || itm.capacity !== 100" color="gym-primary" slot="end"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>        
      </ion-slide>

  </ion-slides>
</ion-content>