<ion-header no-border>
  <!-- <div class="login-header ion-padding"> -->
    <ion-item transparent lines="none">
      <ion-menu-button color="gym-primary" autoHide="false" menu="gymmenu" slot="start"></ion-menu-button>
      <img src="../../assets/images/logo.png" alt="" class="logo-img">  
    </ion-item>
  <!-- </div> -->
</ion-header>

<ion-menu side="start" menuId="gymmenu" contentId="main">
  <ion-content>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="{{basePhotosUrl + currentUser.photoUrl}}" alt="">
      <ion-label>
        <h2>{{currentUser.displayName}}</h2>
        <h3>{{currentUser.email}}</h3>
        <p>Socio: {{currentUser.memberId}}</p>
        <p><ion-badge color="light">{{currentUser.expiration | date:'dd MMM, yyyy'}}</ion-badge></p>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button (click)="onMyProfile()">
        <ion-icon name="create-outline"></ion-icon>
        Editar</ion-button>
    </div>

    <ion-list class="menu-items" lines="none">
      <ion-item *ngFor="let mnu of currentMenu" button transparent (click)="onSelectedOption(mnu.option)">
        <ion-icon slot="start" color="gym-primary" name="{{mnu.icon}}"></ion-icon>
        <ion-label color="gym-primary">{{mnu.displayName}}</ion-label>
      </ion-item>

      <ion-item button transparent (click)="logOut()">
        <ion-icon slot="start" color="gym-primary" name="log-out-outline"></ion-icon>
        <ion-label color="gym-primary">Cerrar Sesion</ion-label>
      </ion-item>

    </ion-list>


  </ion-content>

</ion-menu>


<ion-content id="main">


  <ion-grid>
    <ion-row>
      <ion-col size-xs='12' size-sm='6'>
        <app-covidalert [currentMsg]="covidMsg"></app-covidalert>
      </ion-col>
      <ion-col size-xs='12' size-sm='6'>
        <app-schedulesummary [memberSchedule]="scheduleSummary"></app-schedulesummary>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="todayBooked">
      <ion-col>
        <ion-button (click)="showReservation()" expand="block" size="small">
          <ion-icon slot="start" name="alarm-outline"></ion-icon>
          Mi Reservacion: {{todayBooked.bookedHour}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment scrollable="true" [(ngModel)]="currentDay">
    <ion-segment-button (click)="goto(idx)" *ngFor="let itm of scheduleWeekDays; let idx = index" value="{{idx}}">
      <h2>{{itm .date| date:'dd'}}</h2>
      <ion-label>{{getDisplayMonth(itm.date)}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides [options]="sliderConfig" #slides (ionSlideDidChange)="getIndex($event)">

    <ion-slide *ngFor="let d of scheduleWeekDays; let sidx = index" data-id={{sidx}}>
        <ion-card class="scheduleCard">        
          <ion-card-header>
            <h3 class="dateheader">{{d.date | date:'MMM dd, yyyy'}}</h3>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-list>

              <ion-item color="transparent" lines="none" *ngFor="let itm of d.selectableHours">
                <ion-label slot="start">
                  <h2><strong>{{itm.range}}</strong></h2>
                  <h2>
                    <ion-badge *ngIf="itm.capacity && itm.capacity <= 10" color="gym-primary">Disponibles: {{itm.capacity}}</ion-badge>
                  </h2>
                </ion-label>
                <ion-toggle (click)="updateReservation(d.date, itm.booked, itm.range, itm, d)" [(ngModel)]="itm.booked" *ngIf="!itm.capacity || itm.capacity > 0 || itm.booked" color="gym-primary" slot="end"></ion-toggle>
              </ion-item>

              
            </ion-list>
          </ion-card-content>
        </ion-card>        
      </ion-slide>

  </ion-slides>
</ion-content>