<ion-header no-border>
  <!-- <div class="login-header ion-padding"> -->
    <ion-item class="login-header" transparent lines="none">
      <ion-back-button color="gym-primary" slot="start"></ion-back-button>
      <ion-label>Asignacion de Reservaciones</ion-label>
    </ion-item>
  <!-- </div> -->
</ion-header>


<ion-content>
  

  <ion-segment scrollable="true" [(ngModel)]="currentDay">
    <ion-segment-button (click)="goto(idx)" *ngFor="let itm of dailyRangeSchedule; let idx = index" value="{{idx}}">
      <h2>{{itm.date| date:'dd'}}</h2>
      <ion-label>{{getDisplayMonth(itm.date)}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item>
    <ion-label>Horario</ion-label>
    <ion-select [(ngModel)]="selectedRange" (ionChange)="onHourChanged()" placeholder="Seleccionar un horario">
      <ion-select-option *ngFor="let h of rangeHours; let idx = index" [value]="h">{{h.range}}</ion-select-option>
    </ion-select>
  </ion-item>

  

  <ion-card *ngIf="dailyRangeSchedule" class="summary" color="{{getColor(dailyRangeSchedule[currentDay].selectableHours[currentHour].capPercentaje)}}">
    <ion-card-header>
      <ion-card-subtitle>{{dailyRangeSchedule[currentDay].date | date:'MMM dd, yyyy'}}</ion-card-subtitle>
      <ion-card-title>{{dailyRangeSchedule[currentDay].selectableHours[currentHour].range}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <strong>Capacidad</strong>
            </div>
            <div>
              {{dailyRangeSchedule[currentDay].selectableHours[currentHour].capacity}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              <strong>% Ocupacion</strong>
            </div>
            <div>
              {{100 - dailyRangeSchedule[currentDay].selectableHours[currentHour].capPercentaje}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              <strong>Calendarizados</strong>
            </div>
            <div>
              {{data?.length}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              <strong>Disponibilidad</strong>  
            </div>
            <div>
              {{dailyRangeSchedule[currentDay].selectableHours[currentHour].capPeople}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" *ngIf="selectedMember">
    <ion-card-content>

      <ion-item class="item ios in-list ion-focusable hydrated item-label">
        <ion-avatar slot="start" class="ios hydrated">
          <img src="{{basePhotosUrl + selectedMember?.photoUrl}}">
        </ion-avatar>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h3>{{selectedMember?.memberId}}</h3>
          <h2>{{selectedMember?.fullName}} • {{selectedMember?.email}}</h2>
          <p>
            <ion-chip color="secondary">{{selectedMember?.package}}</ion-chip>
            <ion-chip color="secondary">{{selectedMember?.period}}</ion-chip>
            <ion-chip color="secondary">{{selectedMember?.dueDate | date:'MMM dd, yyyy'}}</ion-chip>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-button (click)="onBookMember()" slot="end" color="gym-primary">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="onPinMember()" [color]="isMemberPinned ? 'primary' : 'medium'" slot="end">
          <ion-icon name="pin-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <h2>Socios programados:</h2>
  
  <ion-searchbar animated (ionChange)='searchMember($event)' showCancelButton="always"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let itm of dataSearched">
      <ion-item class="item ios in-list ion-focusable hydrated item-label">
        <ion-avatar slot="start" class="ios hydrated">
          <img src="{{basePhotosUrl + itm.photoUrl}}">
        </ion-avatar>
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h3>{{itm.memberId}}</h3>
          <h2>{{itm.fullName}} • {{itm.email}}</h2>
          <p>
            <ion-chip color="secondary">{{itm.package}}</ion-chip>
            <ion-chip color="secondary">{{itm.period}}</ion-chip>
            <ion-chip color="secondary">{{itm.dueDate | date:'MMM dd, yyyy'}}</ion-chip>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="onRemoveBookMark(itm.userId)">Remover</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onAddNewMember()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>
