<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Nueva Capacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #f="ngForm">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>F. Inicio</ion-label>
          <ion-datetime displayFormat="MM DD YY" 
            [min]="todayDate.toISOString()"
            name="startDate"
            placeholder="Seleccionar"
            (ionChange)="onSetStartDate()"
            [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>F. Final</ion-label>
          <ion-datetime displayFormat="MM DD YY" 
            [min]="startDate"
            name="endDate"
            [(ngModel)]="endDate"
            placeholder="Seleccionar"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">% Ocupacion</ion-label>
          <ion-input [(ngModel)]="allowedPercentage" name="allowedPercentage" (change)="onCalculatePeople()" placeholder="Porcentaje de ocupacion permitido" type="number" min="0"></ion-input>
        </ion-item>      
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>{{this.allowedPeople}} personas</ion-label>
        </ion-item>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline">Grabar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>

</ion-content>

