.imageContainer {
    text-align: center;
}

.selectImage {
    border: solid 1px #bf0811;
    padding: 5px;
    cursor: pointer;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-right: 14px;
}

input[type=file] {
    display:none;
}
