<ion-header>
  <ion-toolbar>
    <ion-title>Administracion de usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="memberDetails">

  
  <ion-list>
    <ion-item>
        <label for="file" class="selectImage">Seleccionar Foto</label>
        <input type="file" id="file" ng2FileSelect [uploader]="uploader" />  
    </ion-item>
    <ion-item lines="none">{{ currentFileName }}</ion-item>


    <ion-grid>
      <ion-row>
      <ion-col class='imageContainer'>
        <img src="{{currentUserPhoto}}">
      </ion-col>
      <ion-col>

        <ion-item transparent>
          <ion-label position="floating">No. Socio</ion-label>
          <ion-input [disabled]="!isMemberIdEditable" [(ngModel)]="memberDetails.memberId" placeholder="Introducir el numero de socio" type="text"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-chip *ngIf="memberDetails.isBlock" color="danger">Bloqueado</ion-chip>
          <ion-chip *ngIf="!memberDetails.isBlock" color="success">Activo</ion-chip>
        </ion-item>

        <ion-item>
          <ion-label>Verificado</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="memberDetails.isVerified"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-item transparent>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="memberDetails.fullName" placeholder="Nombre completo" type="text"></ion-input>
   </ion-item>
   <ion-item transparent>
      <ion-label position="floating">Correo Electronico</ion-label>
      <ion-input disabled [(ngModel)]="memberDetails.email" placeholder="Capturar un correo electronico" type="text"></ion-input>
   </ion-item>

   <ion-list-header class="ios hydrated">
    Datos Generales
   </ion-list-header>

   <ion-item transparent>
      <ion-label position="floating">Telefono:</ion-label>
      <ion-input placeholder="Capturar un numero telefonico" type="text"></ion-input>
   </ion-item>

  <ion-item>
    <ion-label>F. Nacimiento</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder="Seleccionar"></ion-datetime>
  </ion-item>

  <ion-item transparent>
    <ion-label slot="start">Paquete: </ion-label>
    <ion-label>{{memberDetails.membershipTypeActive?.name}}</ion-label>
    <ion-label slot="end">{{memberDetails.membershipExpiration | date:'MMM dd, yyyy' }}</ion-label>
  </ion-item>


  </ion-list>
  <ion-button expand="block" (click)="onSaveProfileData()" fill="outline">Grabar</ion-button>

</div>

</ion-content>