/* side drawer */

.menu-header-bg {
    height: 180px;
    width: 350px;
    background-color: #bf0811;

    box-shadow: 0px 1px 10px rgba(98, 140, 255, .5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top:20px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #fff;
        margin-right: 14px;
    }

    h2 {
        font-weight: 300;
        color: #fff;
    }

    p {
        font-size: 12px;
        color: #fff;
        font-weight: 200;
        letter-spacing: 0.4px;
    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    ion-button {
        text-transform: capitalize;
        font-weight: 400;
        --background: #bf0811;
        --border-radius: 7px;
        --box-shadow: none;
    }

    ion-icon {
        margin-right: 1px;
    }

    ion-list {
        padding: 5px;
    }

}

.menu-items {
    margin: 10px;
}
