<ion-card color="gym-primary" *ngIf="currentMsg">
  <ion-card-header>
    <ion-card-subtitle>{{currentMsg.publishDate}}
    </ion-card-subtitle>
    <ion-card-title>
      <ion-item transparent lines="none">
        <ion-card-title slot="start">{{currentMsg.title}}</ion-card-title>
        <ion-button color="light" (click)="onCollapse()" slot="end" >
          <ion-icon *ngIf="!covidCollapsed" name="arrow-down-circle-outline"></ion-icon>
          <ion-icon *ngIf="covidCollapsed" name="arrow-up-circle-outline"></ion-icon>  
        </ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="covidCollapsed">

    <ion-label>
      {{currentMsg.message}}
    </ion-label>

    <ion-item transparent lines="none">
      <ion-label>No volver a mostrar</ion-label>
      <ion-checkbox [(ngModel)]="hideMessage" (click)="onCheckStatus()" slot="end"></ion-checkbox>  
    </ion-item>
  </ion-card-content>
</ion-card>
