.login-header {
    background-color: var(--theme-color);
}

.login-header {
    border-top: solid 5px var(--theme-red);
    position: relative;
    background-color: var(--theme-white);
    border-radius: 0em;
}

.login-header:after {
    content: '';
    position: absolute;
    bottom: solid;
    left: 15%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: var(--theme-white);
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.logo-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

[heading-colum-lr] {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

[big-heading] {
    font-family: "Montserrat" !important;
    font-weight: bold;
    font-size: 30px !important;
    color: var(--theme-black);

}

[small-heading] {
    font-family: "Montserrat" !important;
    font-weight: bold;
    margin-left: auto;
    padding-right: 40px;
    font-size: 15px;
}

ion-label {
    color:#000;
    opacity: .8;
    font-size: 13px;
    display: block;
}

ion-content {
    --background: url('../../../assets/images/background.jpg');
}

[transparent] {
    --background: transparent;
}
