<ion-header no-border>
  <div class="login-header ion-padding">
    <img src="../../assets/images/logo.png" alt="" class="logo-img">
  </div>
</ion-header>


<ion-content>

    <ion-card class="ios hydrated">
      <img src="https://theskincareedit.com/.image/t_share/MTU2ODk4NDM4MDIyODk5MTQ5/mila-kunis-young-hollywood-awards-2000.jpg">
      <ion-card-header class="ion-inherit-color ios hydrated">
        <ion-card-subtitle role="heading" aria-level="3" class="ion-inherit-color ios hydrated">Vencimiento: Nov 3, 2020</ion-card-subtitle>
        <ion-card-title role="heading" aria-level="2" class="ion-inherit-color ios hydrated">Mila Kunis</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ios card-content-ios hydrated">
        <ion-item lines="none">
          <ion-label>123456</ion-label>
          <ion-label>Lady Fitness</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-label position="floating">F. Nacimiento: </ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
          <ion-label>Sexo: </ion-label>
          <ion-select>
            <ion-select-option>Femenino</ion-select-option>
            <ion-select-option>Masculino</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-button expand="full" color="gym-primary">
          Grabar
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-content>
